.cars {
  padding-top: 88px;
  padding-bottom: 57px;

  @media screen and (min-width: 768px) {
    padding-top: 211px;
    padding-bottom: 50px;
  }
}

.cars-container {
  @media screen and (max-width: 767px) {
    max-width: 767px;
    padding-right: 0px;
  }
}

.cars-card {
  background-image: url("/images/card-top-bg-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -20px -20px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi) {
    background-image: url("/images/card-top-bg@2x-min.jpg");
  }
}

.cars-card-subtitle {
  margin-bottom: 12px;
}

.cars-card-img {
  margin-left: auto;
  margin-bottom: 20px;
}

.cars-card-benefits {
  margin-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
  gap: 8px 19px;
}

.cars-card-benefits-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card-card-benefits-icon {
  & svg {
    width: 16px;
    height: 16px;
    fill: var(--white-color);
  }
}

.cars-card-benefits-icon {
  font-size: 10px;
  color: var(--text-color-light);
}

.cars-card-benefits-text {
  font-weight: 400;
  font-size: 12px;
}
