.hero {
  padding-top: var(--header-height);
  padding-bottom: 32px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-image: linear-gradient(to bottom, transparent, #0a0a0b),
    url("/images/hero-bg-mobile-min.jpg");
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi) {
    background-image: linear-gradient(to bottom, transparent, #0a0a0b),
      url("/images/hero-bg-mobile@2x-min.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, transparent, #0a0a0b),
      url("/images/hero-bg-min.jpg");
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 3),
    screen and (min-width: 768px) and (min-resolution: 288dpi) {
    background-image: linear-gradient(to bottom, transparent, #0a0a0b),
      url("/images/hero-bg@2x-min.jpg");
  }
}

.hero-container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 24px;
  color: var(--white-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 36px;
  }
}

.hero-car-title {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
    font-size: 24px;
  }
}

.hero-car-subtitle {
  margin-bottom: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-weight: 400;
  font-size: 13px;
  text-align: center;

  & svg {
    width: 16px;
    height: 16px;
    fill: var(--first-color);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;

    & svg {
      width: 20px;
      height: 20px;
    }
  }
}

.hero-car-img {
  margin: 0 auto;
  margin-bottom: 40px;

  display: block;

  opacity: 0.3;
  transform: scale(0.9);

  transition: opacity var(--hover-effect), transform var(--hover-effect);

  &.active {
    opacity: 1;
    transform: scale(1);
  }
}

.hero-car-list {
  margin-bottom: 57px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-car-item-icon {
  margin: 0 auto;
  margin-bottom: 12px;

  width: 25px;
  height: 25px;
  background-color: var(--container-color);
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;

  & svg {
    width: 14px;
    height: 14px;
    fill: var(--white-color);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    width: 32px;
    height: 32px;

    & svg {
      width: 20px;
      height: 20px;
    }
  }
}

.hero-car-item-title {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--white-color);

  transition: all var(--hover-effect);

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.hero-car-item-descr {
  font-weight: 400;
  font-size: 10px;
  color: var(--text-color-light);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 13px;
  }
}

.hero-car-btn {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--container-color);

  font-weight: 500;
  font-size: 13px;
  color: var(--white-color);

  box-shadow: 0 0 0 3px #099260;
  transition: box-shadow var(--hover-effect);

  animation: pulse 2s infinite ease-in-out;

  &.active {
    animation: none;
    box-shadow: 0 0 0 3px #099260, 0 0 0 15px var(--container-color),
      0 0 0 18px #02db8a, 0 0 0px 16px #02db8a;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 3px #099260;
  }
  50% {
    box-shadow: 0 0 10px 3px #02db8a;
  }
  100% {
    box-shadow: 0 0 0 3px #099260;
  }
}
