<section class="about" id="about">
  <div class="container about-container">
    <div class="about-img-wrapper">
      <img
        srcset="/images/about-min.jpg 1x, /images/about@2x-min.jpg 2x"
        src="/images/about-min.jpg"
        alt="About Illustration"
        class="about-img"
      />
      <div class="about-img-content">
        <h3 class="about-img-content-title">2.500+</h3>
        <p class="about-img-content-descr">
          Supercharges placed along popular routes
        </p>
      </div>
    </div>
    <div class="about-content">
      <h3 class="title about-content-title">Machines With Future Technology</h3>
      <p class="about-content-descr">
        See the future with high-performance electric cars produced by renowned
        brands. They feature futuristic builds and designs with new and
        innovative platforms that last a long time.
      </p>
      <a class="button about-content-btn" href="#featured">Know more</a>
    </div>
  </div>
</section>
