<section class="cars">
  <div class="container cars-container">
    <h2 class="title cars-title"></h2>
    <div class="swiper">
      <ul class="swiper-wrapper cars-list">
        <li class="swiper-slide card cars-card">
          <h3 class="cars-card-title">Porsche</h3>
          <p class="cars-card-subtitle">Turbo S</p>
          <img
            srcset="
              ./images/p-turbo-s-min.png    1x,
              ./images/p-turbo-s@2x-min.png 2x
            "
            src="./images/p-turbo-s-min.png"
            alt="Porsche"
            class="cars-card-img"
          />
          <ul class="cars-card-benefits">
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">Km</p>
              <p class="cars-card-benefits-text">3.7 Sec</p>
            </li>
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">S</p>
              <p class="cars-card-benefits-text">356 Km/h</p>
            </li>
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">E</p>
              <p class="cars-card-benefits-text">Electric</p>
            </li>
          </ul>
          <p class="cars-card-price">$175,900</p>
          <button class="card-btn cars-card-btn">
            <svg>
              <use href="./images/svg/icons.svg#shopping"></use>
            </svg>
          </button>
        </li>
        <li class="swiper-slide card cars-card">
          <h3 class="cars-card-title">Porsche</h3>
          <p class="cars-card-subtitle">Taycan</p>
          <img
            srcset="
              ./images/p-taycan-min.png    1x,
              ./images/p-taycan@2x-min.png 2x
            "
            src="./images/p-taycan-min.png"
            alt="Porsche"
            class="cars-card-img"
          />
          <ul class="cars-card-benefits">
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">Km</p>
              <p class="cars-card-benefits-text">3.7 Sec</p>
            </li>
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">S</p>
              <p class="cars-card-benefits-text">356 Km/h</p>
            </li>
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">E</p>
              <p class="cars-card-benefits-text">Electric</p>
            </li>
          </ul>
          <p class="cars-card-price">$114,900</p>
          <button class="card-btn cars-card-btn">
            <svg>
              <use href="./images/svg/icons.svg#shopping"></use>
            </svg>
          </button>
        </li>
        <li class="swiper-slide card cars-card">
          <h3 class="cars-card-title">Porsche</h3>
          <p class="cars-card-subtitle">Turbo S Cross</p>
          <img
            srcset="
              ./images/p-turbo-s-cross-min.png    1x,
              ./images/p-turbo-s-cross@2x-min.png 2x
            "
            src="./images/p-turbo-s-min.png"
            alt="Porsche"
            class="cars-card-img"
          />
          <ul class="cars-card-benefits">
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">Km</p>
              <p class="cars-card-benefits-text">3.7 Sec</p>
            </li>
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">S</p>
              <p class="cars-card-benefits-text">356 Km/h</p>
            </li>
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">E</p>
              <p class="cars-card-benefits-text">Electric</p>
            </li>
          </ul>
          <p class="cars-card-price">$150,900</p>
          <button class="card-btn cars-card-btn">
            <svg>
              <use href="./images/svg/icons.svg#shopping"></use>
            </svg>
          </button>
        </li>
        <li class="swiper-slide card cars-card">
          <h3 class="cars-card-title">Porsche</h3>
          <p class="cars-card-subtitle">Boxster 718</p>
          <img
            srcset="
              ./images/p-boxter-987-min.png    1x,
              ./images/p-boxter-987@2x-min.png 2x
            "
            src="./images/p-boxter-987-min.png"
            alt="Porsche"
            class="cars-card-img"
          />
          <ul class="cars-card-benefits">
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">Km</p>
              <p class="cars-card-benefits-text">3.7 Sec</p>
            </li>
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">S</p>
              <p class="cars-card-benefits-text">356 Km/h</p>
            </li>
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">E</p>
              <p class="cars-card-benefits-text">Electric</p>
            </li>
          </ul>
          <p class="cars-card-price">$125,900</p>
          <button class="card-btn cars-card-btn">
            <svg>
              <use href="./images/svg/icons.svg#shopping"></use>
            </svg>
          </button>
        </li>
        <li class="swiper-slide card cars-card">
          <h3 class="cars-card-title">Porsche</h3>
          <p class="cars-card-subtitle">Cayman</p>
          <img
            srcset="
              ./images/p-cayman-min.png    1x,
              ./images/p-cayman@2x-min.png 2x
            "
            src="./images/p-cayman-min.png"
            alt="Porsche"
            class="cars-card-img"
          />
          <ul class="cars-card-benefits">
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">Km</p>
              <p class="cars-card-benefits-text">3.7 Sec</p>
            </li>
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">S</p>
              <p class="cars-card-benefits-text">356 Km/h</p>
            </li>
            <li class="cars-card-benefits-item">
              <p class="cars-card-benefits-icon">E</p>
              <p class="cars-card-benefits-text">Electric</p>
            </li>
          </ul>
          <p class="cars-card-price">$128,900</p>
          <button class="card-btn cars-card-btn">
            <svg>
              <use href="./images/svg/icons.svg#shopping"></use>
            </svg>
          </button>
        </li>
      </ul>

      <div class="swiper-pagination cars-pagination"></div>
    </div>
  </div>
</section>
