<section class="features">
  <div class="container features-container">
    <h2 class="title features-title">More Features</h2>
    <div class="features-content">
      <img
        srcset="
          /images/features-car-min.png    1x,
          /images/features-car@2x-min.png 2x
        "
        src="/images/features-car-min.png"
        alt=""
        class="features-img"
      />
      <ul class="features-list">
        <li class="features-item item-1">
          <h3 class="features-item-title">800v</h3>
          <p class="features-item-descr">Turbo Chargin</p>
        </li>
        <li class="features-item item-2">
          <h3 class="features-item-title">350</h3>
          <p class="features-item-descr">Km Range</p>
        </li>
        <li class="features-item item-3">
          <h3 class="features-item-title">480</h3>
          <p class="features-item-descr">Km Travel</p>
        </li>
      </ul>
    </div>
  </div>
</section>
