<footer class="footer">
  <div class="container footer-container">
    <div class="footer-top">
      <div class="footer-content">
        <a href="#home" class="footer-logo">
          <svg>
            <use href="/images/svg/icons.svg#logo"></use>
          </svg>
        </a>
        <p class="footer-descr">
          We offer the best electric cars of the most recognized brands in the
          world.
        </p>
      </div>
      <div class="footer-list-wrapper">
        <h2 class="footer-list-title">Company</h2>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#home" class="footer-item-link">About</a>
          </li>
          <li class="footer-item">
            <a href="#home" class="footer-item-link">Cars</a>
          </li>
          <li class="footer-item">
            <a href="#home" class="footer-item-link">History</a>
          </li>
          <li class="footer-item">
            <a href="#home" class="footer-item-link">Shop</a>
          </li>
        </ul>
      </div>
      <div class="footer-list-wrapper">
        <h2 class="footer-list-title">Information</h2>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="#home" class="footer-item-link">Request a quote</a>
          </li>
          <li class="footer-item">
            <a href="#home" class="footer-item-link">Find a dealer</a>
          </li>
          <li class="footer-item">
            <a href="#home" class="footer-item-link">Contact us</a>
          </li>
          <li class="footer-item">
            <a href="#home" class="footer-item-link">Services</a>
          </li>
        </ul>
      </div>
      <div class="footer-list-wrapper">
        <h2 class="footer-list-title">Information</h2>
        <ul class="footer-social">
          <li class="footer-social-item">
            <a href="#home" class="footer-social-link">
              <svg>
                <use href="/images/svg/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="#home" class="footer-social-link">
              <svg>
                <use href="/images/svg/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="#home" class="footer-social-link">
              <svg>
                <use href="/images/svg/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-rules-text">Bedimcode. All rights reserved</p>
  </div>
</footer>
