<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo">
      <svg>
        <use href="./images/svg/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-link">About</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-link">Popular</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-link">Featured</a>
        </li>
      </ul>
    </nav>
    <button class="header-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="header-menu">
    <ul class="header-menu-list">
      <li class="header-menu-item">
        <a href="#" class="header-menu-link">Home</a>
      </li>
      <li class="header-menu-item">
        <a href="#" class="header-menu-link">About</a>
      </li>
      <li class="header-menu-item">
        <a href="#" class="header-menu-link">Popular</a>
      </li>
      <li class="header-menu-item">
        <a href="#" class="header-menu-link">Featured</a>
      </li>
    </ul>
  </div>
</header>
