<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">Choose The Best Car</h1>
    <h2 class="hero-car-title">Porsche Mission E</h2>
    <p class="hero-car-subtitle">
      <span>
        <svg>
          <use href="./images/svg/icons.svg#flashlight"></use>
        </svg>
      </span>
      Electric car
    </p>
    <img
      srcset="./images/hero-min.png 1x, ./images/hero@2x-min.png 2x"
      src="./images/hero-min.png"
      alt="Porsche Mission E"
      class="hero-car-img"
    />
    <ul class="hero-car-list">
      <li class="hero-car-item">
        <span class="hero-car-item-icon">
          <svg>
            <use href="./images/svg/icons.svg#temperature"></use>
          </svg>
        </span>
        <h3 class="hero-car-item-title">
          <span id="car-temperature">0</span>°
        </h3>
        <p class="hero-car-item-descr">TEMPERATURE</p>
      </li>
      <li class="hero-car-item">
        <span class="hero-car-item-icon">
          <svg>
            <use href="./images/svg/icons.svg#speed"></use>
          </svg>
        </span>
        <h3 class="hero-car-item-title"><span id="car-speed">0</span></h3>
        <p class="hero-car-item-descr">MILEAGE</p>
      </li>
      <li class="hero-car-item">
        <span class="hero-car-item-icon">
          <svg>
            <use href="./images/svg/icons.svg#flashlight"></use>
          </svg>
        </span>
        <h3 class="hero-car-item-title"><span id="car-battery">0</span>%</h3>
        <p class="hero-car-item-descr">BATTERY</p>
      </li>
    </ul>
    <button class="hero-car-btn" id="startStopBtn">START</button>
  </div>
</section>
