<section class="offer">
  <div class="container offer-container">
    <div class="offer-content">
      <h2 class="title offer-title">Do You Want To Receive Special Offers?</h2>
      <p class="offer-descr">
        Be the first to receive all the information about our products and new
        cars by email by subscribing to our mailing list.
      </p>
      <button class="button offer-btn">Subscribe Now</button>
    </div>
    <picture class="offer-img">
      <source
        srcset="
          ./images/subscribe-car-min.png    1x,
          ./images/subscribe-car@2x-min.png
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/subscribe-car-mobile-min.png    1x,
          ./images/subscribe-car-mobile@2x-min.png
        "
      />
      <img src="./images/subscribe-car-min.png" alt="Car Image" />
    </picture>
  </div>
</section>
