<section class="store" id="featured">
  <div class="container store-container">
    <h2 class="title store-title">Featured Luxury Cars</h2>
    <ul class="store-filters">
      <li class="store-filters-item">
        <button class="store-filters-btn active" id="all">All</button>
      </li>
      <li class="store-filters-item">
        <button class="store-filters-btn" id="tesla">
          <img
            srcset="
              /images/logotypes/tesla-min.png    1x,
              /images/logotypes/tesla@2x-min.png 2x
            "
            src="/images/logotypes/tesla-min.png"
            alt="Tesla"
          />
        </button>
      </li>
      <li class="store-filters-item">
        <button class="store-filters-btn" id="audi">
          <img
            srcset="
              /images/logotypes/audi-min.png    1x,
              /images/logotypes/audi@2x-min.png 2x
            "
            src="/images/logotypes/audi-min.png"
            alt="Audi"
          />
        </button>
      </li>
      <li class="store-filters-item">
        <button class="store-filters-btn" id="porsche">
          <img
            srcset="
              /images/logotypes/porsche-min.png    1x,
              /images/logotypes/porsche@2x-min.png 2x
            "
            src="/images/logotypes/porsche-min.png"
            alt="Porsche"
          />
        </button>
      </li>
    </ul>
    <ul class="store-list car-list-container"></ul>
  </div>
</section>
