<section class="store">
  <div class="container store-container">
    <h2 class="title store-title">Featured Luxury Cars</h2>
    <ul class="store-filters">
      <li class="store-filters-item">
        <button class="store-filters-btn active">All</button>
      </li>
      <li class="store-filters-item">
        <button class="store-filters-btn">
          <img
            srcset="
              ./images/logotypes/tesla-min.png    1x,
              ./images/logotypes/tesla@2x-min.png 2x
            "
            src="./images/logotypes/tesla-min.png"
            alt="Tesla"
          />
        </button>
      </li>
      <li class="store-filters-item">
        <button class="store-filters-btn">
          <img
            srcset="
              ./images/logotypes/audi-min.png    1x,
              ./images/logotypes/audi@2x-min.png 2x
            "
            src="./images/logotypes/audi-min.png"
            alt="Audi"
          />
        </button>
      </li>
      <li class="store-filters-item">
        <button class="store-filters-btn">
          <img
            srcset="
              ./images/logotypes/porsche-min.png    1x,
              ./images/logotypes/porsche@2x-min.png 2x
            "
            src="./images/logotypes/porsche-min.png"
            alt="Porsche"
          />
        </button>
      </li>
    </ul>
    <ul class="store-list">
      <li class="card store-item">
        <h3 class="card-title store-item-title">Tesla</h3>
        <p class="card-subtitle store-item-subtitle">Model X</p>
        <img
          srcset="
            ./images/t-model-x-min.png    1x,
            ./images/t-model-x@2x-min.png 2x
          "
          src="./images/t-model-x-min.png"
          alt="Car Image"
          class="store-item-img"
        />
        <p class="card-price store-item-price">$98,900</p>
        <button class="card-btn store-item-btn">
          <svg>
            <use href="./images/svg/icons.svg#shopping"></use>
          </svg>
        </button>
      </li>
      <li class="card store-item">
        <h3 class="card-title store-item-title">Tesla</h3>
        <p class="card-subtitle store-item-subtitle">Model 3</p>
        <img
          srcset="
            ./images/t-model-3-min.png    1x,
            ./images/t-model-3@2x-min.png 2x
          "
          src="./images/t-model-3-min.png"
          alt="Car Image"
          class="store-item-img"
        />
        <p class="card-price store-item-price">$45,900</p>
        <button class="card-btn store-item-btn">
          <svg>
            <use href="./images/svg/icons.svg#shopping"></use>
          </svg>
        </button>
      </li>
      <li class="card store-item">
        <h3 class="card-title store-item-title">Audi</h3>
        <p class="card-subtitle store-item-subtitle">E-tron</p>
        <img
          srcset="./images/a-etron-min.png 1x, ./images/a-etron@2x-min.png 2x"
          src="./images/a-etron-min.png"
          alt="Car Image"
          class="store-item-img"
        />
        <p class="card-price store-item-price">$175, 900</p>
        <button class="card-btn store-item-btn">
          <svg>
            <use href="./images/svg/icons.svg#shopping"></use>
          </svg>
        </button>
      </li>
      <li class="card store-item">
        <h3 class="card-title store-item-title">Porsche</h3>
        <p class="card-subtitle store-item-subtitle">Boxster 987</p>
        <img
          srcset="
            ./images/p-boxter-987-min.png    1x,
            ./images/p-boxter-987@2x-min.png 2x
          "
          src="./images/p-boxter-987-min.png"
          alt="Car Image"
          class="store-item-img"
        />
        <p class="card-price store-item-price">$126,900</p>
        <button class="card-btn store-item-btn">
          <svg>
            <use href="./images/svg/icons.svg#shopping"></use>
          </svg>
        </button>
      </li>
      <li class="card store-item">
        <h3 class="card-title store-item-title">Porsche</h3>
        <p class="card-subtitle store-item-subtitle">Panamera</p>
        <img
          srcset="
            ./images/p-panamera-min.png    1x,
            ./images/p-panamera@2x-min.png 2x
          "
          src="./images/p-panamera-min.png"
          alt="Car Image"
          class="store-item-img"
        />
        <p class="card-price store-item-price">$126,900</p>
        <button class="card-btn store-item-btn">
          <svg>
            <use href="./images/svg/icons.svg#shopping"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
