<div id="subscribe-modal" class="backdrop subscribe-backdrop">
  <div class="dialog subscribe-dialog">
    <button class="dialog-close subscribe-dialog-close">&#x2715;</button>
    <h2 class="dialog-title subscibe-dialog-title">
      Want to be the first to receive news?
    </h2>
    <form class="subscribe-dialog-form">
      <input
        type="email"
        class="subscribe-dialog-input"
        placeholder="example@gmail.com"
      />
      <button class="button subscribe-dialog-btn">Submit</button>
    </form>
  </div>
</div>
