:root {
  --main-font: "Exo", sans-serif;
  --secondary-font: "Poppins", sans-serif;

  --first-color-alt: #306ad9;
  --first-color: #4177dc;
  --title-color: #f1f2f3;
  --text-color: #babec4;
  --text-color-light: #888b91;
  --white-color: #fff;
  --body-color: #0a0a0b;
  --container-color: #111213;

  --header-height: 70px;

  --hover-effect: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--body-color);

  font-family: var(--main-font);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 24px;

  @media screen and (min-width: 768px) {
    max-width: 1072px;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: var(--title-color);

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.descr {
  font-weight: 400;
  font-size: 15px;
}

.button {
  background-color: var(--first-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 15px;
  color: var(--white-color);

  transition: background-color var(--hover-effect);

  &:hover,
  &:focus {
    background-color: var(--first-color-alt);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
